[Unit]
Description=generate-index html
Wants=network-online.target
After=network-online.target

[Service]
User=webgen
Group=webgen
ExecStart=/var/lib/webgen/bin/generate-index
RemainAfterExit=yes
Restart=on-failure

[Install]
WantedBy=multi-user.target
